{{ define "main" }}
<main>
    <article>
        <header>
            <h1>{{ .Title }}</h1>
            <span class='meta'>
                <span class="left">
                    {{ partial "clock.html" . }}
                    {{ partial "tags.html" . }}
                </span>
                <span class="right">
                    {{ partial "share.html" . }}
                </span>
            </span>
        </header>
        <content>
            {{ .Content }}
        </content>
        {{ with .Site.DisqusShortname }}
        <footer id="disqus">
            {{ template "_internal/disqus.html" . }}
        </footer>
        {{ end }}
    </article>
</main>
{{ end }}
