{{ define "main" }}
<main>
    <header>
        {{ with .Title }}<h1>{{ . }}</h1>{{ end }}
        <span class='meta'>
            <span class="left">
                {{ partial "clock.html" . }}
                {{ partial "tags.html" . }}
            </span>
            <span class="right">
                {{ partial "share.html" . }}
            </span>
        </span>
        {{ with .Description }}<div>{{ . }}</div>{{ end }}
    </header>

    {{ with .Content }}
    <article>{{ . }}</article>
    {{ end }}

    {{ if .Site.DisqusShortname }}
    <footer id="disqus">
        {{ template "_internal/disqus.html" . }}
    </footer>
    {{ end }}
</main>
{{ end }}
