{{ define "main" }}
<main>
    <header>
        <h1>{{ .Title }}</h1>
        <span class='meta'>
            <span class="left">
                {{ partial "clock.html" . }}
                {{ partial "tags.html" . }}
            </span>
            <span class="right">
                {{ partial "share.html" . }}
            </span>
        </span>
    </header>
    <article>
        {{ .Content }}
    </article>
    {{ with .Site.DisqusShortname }}
    <footer id="disqus">
        {{ template "_internal/disqus.html" . }}
    </footer>
    {{ end }}
</main>
{{ end }}
