{{ define "main" }}
<main>
    <header>
        {{ with .Title }}<h1>{{ . }}</h1>{{ end }}
        {{ with .Description }}<div>{{ . }}</div>{{ end }}
    </header>

    {{ with .Content }}
    <article>{{ . }}</article>
    {{ end }}

    <section>
        <ul class="terms">
            {{ $icon := .Params.icon | default (.Type | singularize) }}
            {{ $type := .Type }}
            {{ range $key, $value := .Data.Terms.Alphabetical }}
            {{ $name := .Name }}
            {{ $count := .Count }}
            {{ with site.GetPage (printf "/%s/%s" $type $name) }}
            <li>
                <a href="{{ .Permalink }}">
                    <i class='fa fa-{{ $icon }}' aria-hidden='true'></i>
                    &nbsp;
                    {{- $name -}}
                    &nbsp;
                    <sup><strong>{{ $count }}</strong></sup>
                </a>
            </li>
            {{ end }}
            {{ end }}
        </ul>
    </section>
</main>
{{ end }}
