//{{{ http://meyerweb.com/eric/tools/css/reset/
//  v2.0 | 20110126
//  License: none (public domain)

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
// HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
//}}}
//{{{ Colors from Zenburn
$bg       : #3F3F3F;
$bg-alt   : #383838;
$base0    : #000000;
$base1    : #2B2B2B;
$base2    : #303030;
$base3    : #383838;
$base4    : #494949;
$base5    : #4F4F4F;
$base6    : #5F5F5F;
$base7    : #6F6F6F;
$base8    : #FFFFEF;
$fg       : #DCDCDC;
$fg-alt   : #989890;
////////////////////
$grey     : $base4;
$red      : #CC9393;
$orange   : #DFAF8F;
$green    : #7F9F7F;
$teal     : #4db5bd;
$yellow   : #F0DFAF;
$blue     : #8CD0D3;
$dark-blue: #2257A0;
$magenta  : #DC8CC3;
$violet   : #a9a1e1;
$cyan     : #93E0E3;
$dark-cyan: #5699AF;
////////////////////
$fg-1     : #656555;
$fg_2     : #FFFFFD;
$red-4    : #8C5353;
$red-1    : #BC8383;
$red_1    : #DCA3A3;
$yellow-2 : #D0BF8F;
$yellow-1 : #E0CF9F;
$green-2  : #5F7F5F;
$green_1  : #8FB28F;
$green_2  : #9FC59F;
$green_3  : #AFD8AF;
$green_4  : #BFEBBF;
$blue_1   : #94BFF3;
$blue-1   : #7CB8BB;
$blue-2   : #6CA0A3;
$blue-3   : #5C888B;
$blue-4   : #4C7073;
$blue-5   : #366060;
//}}}
//{{{ Bestmotherfucking.website
@media (prefers-color-scheme: dark){
    body {
        color:      $fg;
        background: $bg;
    }
    a {
        &:link {
            color: $blue;
        }
        &:hover, &:visited:hover {
            color: $teal;
        }
        &:visited {
            color: $violet;
        }
    }
}
body{
    margin: 1em auto;
    max-width: 40em;
    padding: 0 .62em;
    font: 1.2em/1.62 sans-serif;
}
h1,h2,h3 {
    line-height: 1.2;
}
@media print{
    body{
        max-width: none;
    }
}
//}}} bestmotherfucking.website end
