@import "resetatron/index.scss";
$fa-font-path: "fonts" !default;
@import "fork-awesome/scss/fork-awesome.scss";
@import "mixin";
//{{{ Fonts
$mono-font: "Source Code Pro", Menlo, Monaco, Consolas, "Courier New", monospace;
$main-font: sans-serif;
//}}}
//{{{ Colors from Zenburn
$bg: #3f3f3f;
$bg-alt: #383838;
$base0: #000000;
$base1: #2b2b2b;
$base2: #303030;
$base3: #383838;
$base4: #494949;
$base5: #4f4f4f;
$base6: #5f5f5f;
$base7: #6f6f6f;
$base8: #ffffef;
$fg: #dcdcdc;
$fg-alt: #989890;
////////////////////
$grey: $base4;
$gray: $base4;
$red: #cc9393;
$orange: #dfaf8f;
$green: #7f9f7f;
$teal: #4db5bd;
$yellow: #f0dfaf;
$blue: #8cd0d3;
$dark-blue: #2257a0;
$magenta: #dc8cc3;
$violet: #a9a1e1;
$cyan: #93e0e3;
$dark-cyan: #5699af;
////////////////////
$fg-1: #656555;
$fg_2: #fffffd;
$red-4: #8c5353;
$red-1: #bc8383;
$red_1: #dca3a3;
$yellow-2: #d0bf8f;
$yellow-1: #e0cf9f;
$green-2: #5f7f5f;
$green_1: #8fb28f;
$green_2: #9fc59f;
$green_3: #afd8af;
$green_4: #bfebbf;
$blue_1: #94bff3;
$blue-1: #7cb8bb;
$blue-2: #6ca0a3;
$blue-3: #5c888b;
$blue-4: #4c7073;
$blue-5: #366060;
//}}}
//{{{ Code
.src-block-caption {
    display: flex;
    justify-content: flex-end;
}
.highlight {
  font-family: $mono-font;
  font-size: .875rem;
  line-height: 1.4em;
  .chroma {
    padding: .62rem 1rem .62rem 1rem;
    color: $fg-alt;
    background-color: $bg-alt;
    /* Other */                    .x    {color: #d75f00;}
    /* Error */                    .err  {}
    /* LineTableTD */              .lntd {
        vertical-align: top;
        padding: 0;
        margin: 0;
        border: 0;
    }
    /* LineTable */                .lntable {
        border-spacing: 0;
        padding: 0;
        margin: 0;
        border: 0;
        width: auto;
        overflow: auto;
        display: block;
    }
    /* LineHighlight */            .hl  {display: block; width: 100%; background-color: $grey;}
    /* LineNumbersTable */         .lnt {margin-right: .4em; padding: 0 .4em 0 .4em; color: #454545;}
    /* LineNumbers */              .ln  {margin-right: .4em; padding: 0 .4em 0 .4em; color: #454545;}
    /* Keyword */                  .k   {color: #5f8700;}
    /* KeywordConstant */          .kc  {color: #d75f00;}
    /* KeywordDeclaration */       .kd  {color: #0087ff;}
    /* KeywordNamespace */         .kn  {color: #d75f00;}
    /* KeywordPseudo */            .kp  {color: #5f8700;}
    /* KeywordReserved */          .kr  {color: #0087ff;}
    /* KeywordType */              .kt  {color: #af0000;}
    /* Name */                     .n   {}
    /* NameAttribute */            .na  {}
    /* NameBuiltin */              .nb  {color: #0087ff;}
    /* NameBuiltinPseudo */        .bp  {color: #0087ff;}
    /* NameClass */                .nc  {color: #0087ff;}
    /* NameConstant */             .no  {color: #d75f00;}
    /* NameDecorator */            .nd  {color: #0087ff;}
    /* NameEntity */               .ni  {color: #d75f00;}
    /* NameException */            .ne  {color: #af8700;}
    /* NameFunction */             .nf  {color: #0087ff;}
    /* NameFunctionMagic */        .fm  {}
    /* NameLabel */                .nl  {}
    /* NameNamespace */            .nn  {}
    /* NameOther */                .nx  {}
    /* NameProperty */             .py  {}
    /* NameTag */                  .nt  {color: #0087ff;}
    /* NameVariable */             .nv  {color: #0087ff;}
    /* NameVariableClass */        .vc  {}
    /* NameVariableGlobal */       .vg  {}
    /* NameVariableInstance */     .vi  {}
    /* NameVariableMagic */        .vm  {}
    /* Literal */                  .l   {}
    /* LiteralDate */              .ld  {}
    /* LiteralString */            .s   {color: $red;}
    /* LiteralStringAffix */       .sa  {color: $red;}
    /* LiteralStringBacktick */    .sb  {color: $red;}
    /* LiteralStringChar */        .sc  {color: $red;}
    /* LiteralStringDelimiter */   .dl  {color: $red;}
    /* LiteralStringDoc */         .sd  {color: $red;}
    /* LiteralStringDouble */      .s2  {color: $red;}
    /* LiteralStringEscape */      .se  {color: $red;}
    /* LiteralStringHeredoc */     .sh  {color: $red;}
    /* LiteralStringInterpol */    .si  {color: $red;}
    /* LiteralStringOther */       .sx  {color: $red;}
    /* LiteralStringRegex */       .sr  {color: $red;}
    /* LiteralStringSingle */      .s1  {color: $red;}
    /* LiteralStringSymbol */      .ss  {color: $red;}
    /* LiteralNumber */            .m   {color: #00afaf;}
    /* LiteralNumberBin */         .mb  {color: #00afaf;}
    /* LiteralNumberFloat */       .mf  {color: #00afaf;}
    /* LiteralNumberHex */         .mh  {color: #00afaf;}
    /* LiteralNumberInteger */     .mi  {color: #00afaf;}
    /* LiteralNumberIntegerLong */ .il  {color: #00afaf;}
    /* LiteralNumberOct */         .mo  {color: #00afaf;}
    /* Operator */                 .o   {}
    /* OperatorWord */             .ow  {color: #5f8700;}
    /* Punctuation */              .p   {}
    /* Comment */                  .c   {color: $green;}
    /* CommentHashbang */          .ch  {color: $green;}
    /* CommentMultiline */         .cm  {color: $green;}
    /* CommentSingle */            .c1  {color: $green;}
    /* CommentSpecial */           .cs  {color: $green;}
    /* CommentPreproc */           .cp  {color: $green;}
    /* CommentPreprocFile */       .cpf {color: $green;}
    /* Generic */                  .g   {}
    /* GenericDeleted */           .gd  {color: #af0000;}
    /* GenericEmph */              .ge  {font-style: italic;}
    /* GenericError */             .gr  {color: #af0000; font-weight: bold;}
    /* GenericHeading */           .gh  {color: #d75f00;}
    /* GenericInserted */          .gi  {color: #5f8700;}
    /* GenericOutput */            .go  {}
    /* GenericPrompt */            .gp  {}
    /* GenericStrong */            .gs  {font-weight: bold;}
    /* GenericSubheading */        .gu  {color: #0087ff;}
    /* GenericTraceback */         .gt  {}
    /* GenericUnderline */         .gl  {}
    /* TextWhitespace */           .w   {}
  }
}
//}}}
//{{{ Site
body {
  color: $fg;
  background: $base6;
  margin: 1rem auto;
  max-width: 46rem;
  padding: 0 .62rem;
  font-family: $main-font;
  a {
    color: $blue_1;
    &:hover, &:visited:hover {
      color: $cyan;
    }
    &:visited {
      color: $violet;
    }
  }
  //{{{ Header
  > header {
    display: flex;
    justify-content: space-between;
    background: $bg-alt;
    min-height: 26px;
    padding: .3rem 1.5rem .2rem 1.5rem;
    border-top: .35rem solid $fg-1;
    border-bottom: .1rem solid $fg-1;
    a {
      color: $yellow-2 !important;
      &:hover {
        color: $fg-alt !important;
      }
      &.active {
        text-decoration: underline;
        > i {
          text-decoration: underline;
        }
      }
    }
    > nav {
      > ul {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        margin: 0;
        > li:not(:last-child) {
          padding-right: 1rem;
        }
      }
    }
  } //}}}
  //{{{ Main
  > main {
    background: $bg;
    padding: 0.62rem 2rem 1.24rem 2rem;
    border-bottom: 0.12rem solid $bg-alt;
    span.meta {
      display: flex;
      justify-content: flex-start;
      position: relative;
      top: -1.1rem;
      > time {
        margin-left: .4rem;
        color: $green;
      }
      > ul.tags {
        margin-left: 1rem;
      }
    }
    header {
      > h1 {
        margin-top: .8rem;
        font-size: 3rem;
      }
    }
  } //}}}
  //{{{ Footer
  > footer {
    background: $base5;
    padding: 0 2.2rem 0 2.2rem;
    border-bottom: .2rem solid $base4;
    font-size: .9rem;
    color: $fg-alt;
    display: flex;
    justify-content: center;
  } //}}}
}
ul.tags {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  a {
      color: $blue !important;
      &:hover {
          color: $cyan !important;
      }
  }
  > li:not(:last-child) {
    margin-right: 1rem;
  }
}
ul.about {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  a {
    color: $base1 !important;
    &:hover {
      color: $base2 !important;
    }
  }
}
@media print {
  body {
    max-width: none;
  }
}
//}}}
