<header>
    <a class='active' href="{{ .Site.BaseURL }}">
      {{- .Site.Title -}}
    </a>
    {{ with .Site.Menus.main }}
    <nav>
        <ul>
            {{ range . }}
            {{ $url := .URL | safeURL | relLangURL }}
            {{ with .Page }}
            {{ $url = .RelPermalink }}
            {{ end }}
            <li>
                <a href="{{ $url }}"
                   {{- if $.IsMenuCurrent `main` . | or ($.HasMenuCurrent `main` .) | or (eq $.RelPermalink $url) -}}
                   class="active"
                   {{- end -}}
                   {{- with .Title -}} title="{{ . }}" {{- end -}}
                   {{- if (urls.Parse $url).Host -}}
                   rel="noopener noreffer" target="_blank"
                   {{- end -}}>
                    {{ .Name | safeHTML }}
                </a>
            </li>
            {{ end }}
        </ul>
    </nav>
    {{ end }}
</header>
