<main>
    <header class='about'>
        {{- $blockquote := .Site.Params.burnz.home.bio.blockquote | default false -}}
        {{- if $blockquote -}}
        <blockquote class='info'>
        {{- else -}}
        <article class='info'>
        {{- end -}}
            {{ with .Site.Params.burnz.home.bio.title | default "About" }}
            <h1>{{ . }}</h1>
            {{ end }}
            {{ if .Site.Params.burnz.home.bio.content }}
            {{ range .Site.Params.burnz.home.bio.content }}
            <p>{{ . }}</p>
            {{ end }}
            {{ else }}
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            {{ end }}
        {{ if $blockquote }}
        </blockquote>
        {{ else }}
        </article>
        {{ end }}
        <div class='avatar'>
            <img src='{{ .Site.Params.burnz.home.photo.src | default "img/default_photo.png" | absURL }}'
                 height='{{ .Site.Params.burnz.home.photo.height | default "250px" }}'
                 width='{{ .Site.Params.burnz.home.photo.width | default "250px" }}'
                 alt='{{ .Site.Params.burnz.home.photo.alt | default .Site.Params.author }}'
            />
            {{ with .Site.Menus.social }}
            <ul>
                {{ range . }}
                <li>
                    <a href='{{ .URL | safeURL | absURL }}'
                    {{- with .Title }} title='{{ . }}' {{ end -}}
                    {{- if (urls.Parse .URL).Host -}}
                        rel="noopener noreffer" target="_blank"
                    {{- end -}}>
                        {{- with .Name }}{{ . | safeHTML }}{{ end -}}
                    </a>
                </li>
                {{ end }}
            </ul>
            {{ end }}
        </div>
    </header>
    <section>
        {{ with .Site.Params.burnz.home.posts.title | default "Latest posts" }}
        <h1>{{ . }}</h1>
        {{ end }}
        {{ $mainPosts := (sort ( where site.RegularPages "Type" "posts" ) "Date" "desc" )}}
        {{ range first (.Site.Params.burnz.home.posts.amount | default 5) $mainPosts }}
        {{ .Render "summary" }}
        {{ end }}
    </section>
</main>
