<div id="pagination">
	<a {{ if .Paginator.HasPrev }}
       href='{{ .Paginator.Prev.URL }}'
       {{ else }}
       aria-disabled="true" class="disabled"
       {{ end }}
       rel="prev">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i>&nbsp;Previous Page
    </a>
	<a {{ if .Paginator.HasNext }}
       href='{{ .Paginator.Next.URL }}'
       {{ else }}
       aria-disabled="true" class="disabled"
       {{ end }}
       rel="next">
        Next Page&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i>
    </a>
</div>
